*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif,'Times New Roman', Times, serif;
    
}.group-section .container .group-card{
    padding: 30px 20px 0 ;
    gap: 30px;
}