*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
    list-style: none;
    background: rgb(138, 190, 138);
}
ul li{
    display: inline-block;
    position: relative;

}
ul li a{
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;

}
ul li .dropdown li{
    display: block;
}
ul li ul .dropdown{
    width: 100%;
    background: #22438c;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: #112c66;
}
ul li:hover ul .dropdown{
    display: block;
}