*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --primary-text-color : rgb(12, 107, 12);
    --secondary-text-color:rgba(3, 17, 5, 0.897);
    --accent-color:rgba(12, 165, 12, 0.764);
    --accent-color-dark:rgb(0, 93, 0);
    --padding-inline-section:20px;
}
body{
    font-family: Arial, sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;

}
h2{
    font-size: 2rem;;
}
h3{
    font-size: 1.5rem;
}
h4{
    margin-top: 100px;
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

/*utility classes*/
.small-bold-text{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    
   
}


.container{
    max-width:1180px;
    margin-inline: auto;
    padding-inline: var( --padding-inline-section);
    overflow:hidden;
   
    
}

.flex{
    display: flex;
    align-items: center;
    
}
.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s;
}
.hover-link:hover{
    color: var(--accent-color);

}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white!important;
    padding: 12px 24px;
    box-shadow: 0 0 2px  var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;

}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;
   
}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color);
}







/* Top banner*/


.top-banner{
    background-color:rgba(43, 152, 43, 0.915) ;
    background-size: 300px;
    color: white;

}


.banner-text{
   /* background-color: rgb(100, 232, 100);*/
    color:black;
    padding: 15px 30px;
    text-align: center;
    height: 100px;
}

/*nav banner*/
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    position: relative;

}
a{
    width: 150;
    background-color: none;
}
.company-logo img{
    width: 200px;
    background-color: #46d60d;
}
.nav-links{
    flex-basis: 730px;
   
}
.nav-links ul{
   
    justify-content: end;
    gap: 40px;
    
}
.nav-links ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.nav-links a i{
    position: right;
}

.sub-menu-1{
    display: none;
}
.nav-links ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(169, 177, 169);
    margin-top: 15px;
    margin-left: -15px ;
}
.nav-links ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.nav-links ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0%;
    text-align: left;

}
.nav-links ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.nav-links ul li:hover .sub-menu-1 ul li a:hover{
    color: #38991f;
}
.nav-toggle{
    display: none;
}
/*header section*/
header{
    padding: 50px var(--padding-inline-section) 0;

}
.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}
.get-started-btn{
    margin-top: 20px;
}
.header-right img{
    width: 100%;
}

/*features section*/
.features-section{
    padding: 100px var(--padding-inline-section) 0;
    background-image: url();
    background-repeat:no-repeat;
    background-position: center;
  
    
}
.features-header{
    text-align: center;
    margin-bottom: 40px;
}
.features-heading-text{
    margin-bottom: 20px;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    background-color: rgb(211, 244, 211);
}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
   
}
/*big feature section*/

.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
   
}

.big-feature-container{
    gap: 30px;

}
#second-big-feature{
    flex-direction: row-reverse;
}
.feature-img img{
    margin-top: 50px;
    gap: 30px;

    width: 100%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}
/*example-section*/
.exampples-section{
    padding: 80px var(--padding-inline-section);
}
.examples-header{
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.examples-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}
.examples-card{
    width: 23%;
    position: relative;
    height: 300px;
    background-color: black;
    background-image: url(./images/iot1.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
}

.examples-card:hover{
    box-shadow: 0 0 10px #888;
}
.card-text{
    position:absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: rgb(4, 4, 4);

}
/*cta section*/
.cta-section-container{
    flex-direction: column;
    gap: 5px;
    color: white;
    text-align: center;
    
}
.cta-section{
    padding: 120px var(--padding-inline-section) 80px;
    background-color: #4e8d35;

}
.cta-section-container p{
    color: white;
    margin-top:50px;
}
/*footer*/
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
/*sub footer*/
.subfooter{
    background-color: #71c44a;
    padding: var(--padding-inline-section);
}
.subfooter-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
